KALTURA_SERVICE_URL=https://www.kaltura.com
KALTURA_ADMIN_SECRET= #obtained from https://kmc.kaltura.com/index.php/kmcng/settings/integrationSettings
KALTURA_PARTNER_ID=#obtained from https://kmc.kaltura.com/index.php/kmcng/settings/integrationSettings
KALTURA_APP_NAME= 'myAppName'; //for analytics
KALTURA_APP_DOMAIN = 'myapp.com'; //for analytics, the domain to track this playback session to
KALTURA_USER_ID =""
SESSION_SECRET= #Random String, key used for encrypting session cookies